.attended-events-container {
  padding: var(--spacing-lg);
  border: 1px solid var(--neutral-dark);
  border-radius: var(--radius-md);
  margin-top: var(--spacing-md);
  background-color: var(--neutral-light);
}

.event-item {
  padding: var(--spacing-sm);
  border-bottom: 1px solid var(--neutral-dark);
}
