.toastify {
  border-radius: var(--radius-md) !important;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1) !important;
  padding: var(--spacing-md) !important;
  color: var(--neutral-light) !important;
  font-size: 1rem !important;
}

.toastify--success {
  background: linear-gradient(to right, var(--accent-dark), #66bb6a) !important;
}

.toastify--error {
  background: linear-gradient(
    to right,
    var(--secondary-dark),
    #e57373
  ) !important;
}

.toastify--info {
  background: linear-gradient(
    to right,
    var(--accent-light),
    #64b5f6
  ) !important;
}

.toastify--warning {
  background: linear-gradient(
    to right,
    var(--secondary-light),
    #ffb74d
  ) !important;
}

.toastify-close {
  color: var(--neutral-light) !important;
}
